/* Base View for Site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, footer p{
    font-family: "Work Sans", sans-serif;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #fff6c4;
}

header {
    display: block;
    padding: 2em;
    margin: 0 auto;
    border-bottom: 1px solid #fff6c4;
    box-shadow: 0 0 30px #333;
    background-color: #8ecae6;
}

header h1 {
    display: block;
    color: #fff;
}

header h1.noShow {
    display: none;
}

#hamButton {
    display: block;
    padding: 0.5em;
    width: 50px;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: larger;
}

#hamButton::before {
    content: "☰";
}

#hamButton.open::before {
    content: "X";
}

nav {
    display: none;
    margin-top: 0;
    background-color: rgb(255, 136, 0);
}

nav.open {
    display: block;
    margin-top: 3.5em;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: 1px solid gray;
}

nav ul li {
    display: block;
    width: 100%;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: larger;
    padding: 1rem;
    flex: 1 1 100%;
}

.active {
    text-decoration: double underline;
}

nav a:hover {
    background-color: yellow;
}

main {
    max-width: 90%;
    margin: 1rem auto;
    padding: 1em;
    background-color: #fff;
    border: 1.5px solid gray;
}

main h2 {
    text-align: center;
    margin: 1.5em 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    place-items: center;
}

.container div {
    text-align: center;
    background-color: #b4c8cc5c;
    padding: 1em;
    border: 1px solid gray;
}

.container div strong {
    font-size: small;
}

.container div h3 {
    margin-bottom: 0.5em;
}

.container div img {
    margin-top: 0.5em;
    width: 100%;
    height: auto;
    border: 1px solid gray;
    background-color: #000;
    animation: fade 15s;
}

footer {
    background-color: #8ecae6;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 1.5em 0;
    border-top: 1px solid gray;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}